name: Build and Push Docker Image

on:
  push:
    # paths: 
    #   - iris/**
    branches:
      - feature/**

env:
  AZURE_CREDENTIALS : ${{ secrets.AZURE_CREDENTIALS }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image 
      run: |
        # docker build -t sachinmgaikwad185/allianz-iris:latest iris/.
        docker build -t ${{ secrets.REGISTRY }}/${{ secrets.REPOSITORY}}:latest iris/.
        # docker push sachinmgaikwad185/allianz-iris:latest
        docker push ${{ secrets.REGISTRY }}/${{ secrets.REPOSITORY}}:latest

    - name: Azure Login
      uses: Azure/login@v1.5.1
      with:
        # Paste output of `az ad sp create-for-rbac` as value of secret variable: AZURE_CREDENTIALS
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Display Azure Context
      run: az account show

    - name: Set AKS context
      id: set-context
      uses: azure/aks-set-context@v3
      with:
        resource-group: '${{ secrets.RESOURCE_GROUP }}' 
        cluster-name: '${{ secrets.CLUSTER_NAME }}'

    - name: Setup kubectl
      id: install-kubectl
      uses: azure/setup-kubectl@v3

    - name: Deploy to AKS
      id: deploy-aks
      uses: Azure/k8s-deploy@v4
      with:
        namespace: 'default'
        manifests: |
            k8s/manifests/deployment.yaml
            k8s/manifests/service.yaml
        images: '${{ secrets.REGISTRY }}/${{ secrets.REPOSITORY }}:latest'
        pull-images: false

  deploy-monitoring:
    name: Deploy Monitoring to AKS
    needs: [build-and-push]
    uses: ./.github/workflows/REUSABLE_WORKFLOW_monitoring.yml
    secrets: inherit
    with:
      resource-group: '${{ secrets.RESOURCE_GROUP }}' 
      cluster-name: '${{ secrets.CLUSTER_NAME }}'

  # deploy-to-aks:
  #   name: Deploy model to AKS
  #   needs: [ build-and-push ]
  #   uses: ./.github/workflows/REUSABLE_WORKFLOW_aks.yml
  #   secrets: inherit
  #   with:
  #     creds: ${{ github.env.AZURE_CREDENTIALS }}