---
name: _aks

on:
  workflow_call:
    inputs:
      resource_group:
        description: Resource group name
        type: string
        default: allianz
        required: true
      cred:
        description: Azure Credentials
        type: string
        required: true

jobs:
  azure:
    name: Azure Login
    runs-on: ubuntu-latest
    steps:
      - name: Azure Login 
        uses: ./.github/actions/login/action.yml
        with:
          # Paste output of `az ad sp create-for-rbac` as value of secret variable: AZURE_CREDENTIALS
          creds: ${{ inputs.cred }}
